---
import SectionTitle from "../ui/SectionTitle.astro";
import ServiceCard from "../ui/ServiceCard.astro";
import Section from "./Section.astro";

import c1 from "../../assets/pics/services-mobile.png";
import c2 from "../../assets/pics/card-pic2.png";
import c3 from "../../assets/pics/services-linux.png";
import c4 from "../../assets/pics/services-desktop.png";

const cards = [
  {
    index: 1,
    titleTop: "Applications mobiles",
    titleBottom: "iOS & android",
    img: c1,
    alt: "SEO",
    link: "/#services",
    stack: "Flutter, Serverpod, Directus",
  },
  {
    index: 2,
    titleTop: "Applications web",
    titleBottom: "responsives fullstack",
    img: c2,
    alt: "SEO",
    link: "/#services",
    stack: "React, django, directus, nodeJS",
  },
  {
    index: 3,
    titleTop: "Applications embarquées",
    titleBottom: "IHM, Linux, Raspberry Pi",
    img: c3,
    alt: "SEO",
    link: "/#services",
    stack: "Flutter/Dart, python, C",
  },
  {
    index: 1,
    titleTop: "Applications desktop",
    titleBottom: "macOS, Linux, Windows",
    img: c4,
    alt: "SEO",
    link: "/#services",
    stack: "Flutter/Dart, python",
  },
];

const description =
  "Votre besoin + compoz = votre solution numérique sur mesure";
---

<Section id="services">
  <!-- <div class="mt-[140px] mb-5"> -->
  <div class="mt-20 mb-5">
    <SectionTitle sectionTitle="Services" description={description} />
    <div class="grid md:grid-cols-2 md:grid-rows-2 gap-10">
      {
        cards.map((card) => (
          <ServiceCard
            index={card.index}
            titleTop={card.titleTop}
            titleBottom={card.titleBottom}
            img={card.img}
            alt={card.alt}
            link={card.link}
            stack={card.stack}
          />
        ))
      }
    </div>
  </div>
</Section>
